.ant-btn {
  margin-right: 8px;
}
.title {
  color: blue;
  font-size: x-large;
  text-align: center;
}
.introduction {
  position: relative;
  margin: 0 auto; //文本框居中
  width: 730px;
  height: 120px;
}
.content {
  position: relative;
  margin: 0 auto; //文本框居中
  width: 730px;
}
.subtitle {
  //标题样式
  font-weight: bold;
  font-size: large;
  position: relative;
  margin: 0 auto; //文本框居中
  width: 730px;
  height: 60px;
}
.Checkboxlayout {
  position: relative;
  margin: 0 auto; //文本框居中
  width: 730px;
  height: 40px;
}
.Checkboxlabel {
  //音乐部分题目样式
  position: relative;
  margin: 0 auto; //文本框居中
  width: 730px;
  height: 40px;
}
.explanation {
  //标题下解释语句的样式
  font-weight: bold;
  font-size: medium;
}
